h1{
    display: inline;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 75px;
    
}
.movie{
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
}
p{
    max-width:200px;
    color: white;
    text-align: center;
    
    
    
}
div{
    background-color: black;
}
#neal{
    float: left;
    position: relative;
    top:100px;
    
}