.whitecollar{
    display: inline;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 75px;
    margin-left: 
}
.movie{
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
    font-size: 75px;
}
.sum{
    max-width:500px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px

}
div{
    background-color: black;
}
#neal{
    float: left;
    position: relative;
    top:100px;
    
}
#peter{
    float: right;
    position: relative;
    top: 100px;
}
#title{
    text-align: center;
}