p {
    font-size: 16px;
}

.whitecollar {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 75px;
}

.movie {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
    font-size: 75px;
}

.sum {
    width: 500px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 20px;
}

div {
    background-color: black;
}

#neal {
    border: 1px solid #0EC3FF;
    padding: 3px;
    float: left;
    position: relative;
    top: 100px;
}

#peter {
    border: 1px solid #0EC3FF;
    padding: 3px;
    float: right;
    position: relative;
    top: 100px;
}

#title {
    text-align: center;
}

#critics {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
    font-size: 40px;
    text-align: center;
}

#NYT {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Huff {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#NYP {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#HSTAT {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 18px;
}

input {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    display: block;
}

#signup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 20px;
}

.submit {
    background-color: #0EC3FF;
    display: block;
    font-size: 18px
}
